@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Allerta';
}

:root {
    --primary: #1f3832;
}

body {
    @apply bg-amber-100;
    scroll-behavior: smooth;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.border-primary {
    border-color: var(--primary);
}

body::-webkit-scrollbar{
    width: 8px;
    @apply bg-amber-100;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 4px;
}
